.venv/
__pycache__/
*.pyc
.DS_Store
.env
/worker.txt
/collect_text_and_tree.py
/.env.local
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/go.imports.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pdfnest-worker.iml
/.idea/vcs.xml
/pdfnest-worker.iml
/.env.rendar
/.env.deploy
